<section data-ng-controller="DanceeventsController">
    <!--<script src="lib/autofill-directive/autofill-directive.js"></script>-->
       <div class="page-header">
              <h1>New Dance Event</h1>
          <span data-ng-bind="authentication.user.displayName"></span>-<span data-ng-bind="authentication.user.roles"></span>
    </div>
    <div class="col-md-12">
        <form name="danceEventForm" class="form-horizontal" novalidate>

            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name"
                               required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="venue">Venue</label>

                    <div class="controls">
                        <input type="text" data-ng-model="venue" id="venue" class="form-control"
                               placeholder="Venue Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="address">Address</label>

                    <div class="controls">
                        <input id="autocomplete" data-ng-model="street" class="form-control"
                               placeholder="Enter your address"
                               onFocus="geolocate()" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="test">Date</label>

                    <div class="controls">
                        <input type="datetime" date-time ng-model="params.eventDate" id="date" view="date" min-view="date" auto-close="true" class="form-control"
                               placeholder="mm/dd/yy" format="MM/dd/yy">
                    </div>
                </div>

                <!--<form ng-app="fileUpload" ng-controller="MyCtrl" name="form">-->
                    <!--Single Image with validations-->
                <!--<div class="form-group">
                    <label class="control-label" for="flyer">Upload A Flyer</label>
                    <input type="file" id="flyer"  data-ng-model="flyerImage" name="flyer" ngf-pattern="'image/*'"
                         accept="image/*" ngf-max-size="6MB" ngf-min-height="100" ngf-change="console.log('changed file!');">
                         &lt;!&ndash;ngf-resize="{width: 100, height: 100}"&ndash;&gt;-->
 <input type="file" ngf-select ng-model="flyerImage" name="file"
             accept="image/*" ngf-max-size="2MB" required>
      <i ng-show="danceEventForm.flyerImage.$error.required">*required</i><br>
      <i ng-show="danceEventForm.flyerImage.$error.maxSize">File too large
          {{picFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="danceEventForm.flyerImage.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                 <!--   </div>-->
                        <!-- Multiple files
                    <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>
                    Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>-->
                    <!--<button type="submit" ng-click="submit()">submit</button>-->
                <!--</form>-->

                <!-- <div class="form-group">
                    <label class="control-label" for="date">Date</label>
                    <div class="controls">
                        <input type="datetime" date-time view="date" min-view="date" data-ng-model="date"
                               class="form-control" id="date"
                               placeholder="mm/dd/yy" format="MM/dd/yy" auto-close="true" required>
                    </div>
                </div> -->
                <div class="form-group">

                    <table>
                        <tr>
                            <td><label class="control-label" for="startHour">Start Time</label></td>
                        </tr>
                        <tr>
                            <td><select id="startHour" ng-model='startHour'>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>:
                                <select id="startMinute" ng-model="startMinute">
                                    <option value="00">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                </select>
                                <select id="startPM" ng-model="startPM">
                                    <option value="PM">PM</option>
                                    <option value="AM">AM</option>
                                </select></td>
                        </tr>
                        <tr>
                        <tr>
                            <td><label class="control-label" for="endHour">End Time</label></td>
                        </tr>
                        <td><select id="endHour" ng-model="endHour">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>:
                            <select id="endMinute" ng-model="endMinute">
                                <option value="00">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                            </select>
                            <select id="endPM" ng-model="endPM">
                                <option value="PM">PM</option>
                                <option value="AM">AM</option>
                            </select></td>
                        </tr>
                    </table>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>

                    <div class="controls">
                        <textarea data-ng-model="description" id="description" class="form-control"
                                  placeholder="Describe your event"></textarea>
                    </div>
                </div>


                <div class="form-group">
                    <!--<input type="submit" class="btn btn-default">-->
                <button class="btn btn-default" ng-disabled="!danceEventForm.$valid" ng-click="create(flyerImage)" >Create</button>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

            </fieldset>
        </form>
    </div>
</section>


<!--   <table id="address">
    <tr>
      <td class="label">Street address</td>
      <td class="slimField"><input class="field" id="street_number"
            disabled="true"></input></td>
      <td class="wideField" colspan="2"><input class="field" id="route"
            disabled="true"></input></td>
    </tr>
    <tr>
      <td class="label">City</td>
      <td class="wideField" colspan="3"><input class="field" id="locality"
            disabled="true"></input></td>
    </tr>
    <tr>
      <td class="label">State</td>
      <td class="slimField"><input class="field"
            id="administrative_area_level_1" disabled="true"></input></td>
      <td class="label">Zip code</td>
      <td class="wideField"><input class="field" id="postal_code"
            disabled="true"></input></td>
    </tr>
    <tr>
      <td class="label">Country</td>
      <td class="wideField" colspan="3"><input class="field"
            id="country" disabled="true"></input></td>
    </tr>
  </table> -->

