<section data-ng-controller="DanceeventsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="danceevent.name"></h1>
		<small class="text-muted" data-ng-bind="danceevent.date | date:'MM/dd/yyyy'"></small><br>
		<span data-ng-bind="danceevent.venue"></span><br>
		<span data-ng-bind="danceevent.street"></span>

		<small class="text-muted" data-ng-bind="danceevent.startHour"></small>
		<small class=data-ng-bind="danceevent.startMinute"></small>
		<em class="text-muted">
				Price:
				<span data-ng-bind="danceevent.price | currency:'$'"></span>
			</em>
	<div class="row">
		<div class="col-xs-12" >
			<em class="text-muted">
			Posted on
			<span data-ng-bind="danceevent.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="danceevent.user.displayName"></span>
		</em>
		</div>
	</div>
	<div class="row">
			<div class="col-xs-10" >
			<img ng-if="(danceevent.flyer !== '')" ng-src="{{danceevent.flyer}}" alt="flyer of the dace event"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" >
			<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == danceevent.user._id))">
				<a class="btn btn-primary" href="/#!/danceevents/{{danceevent._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
		</div>
	</div>
</section>
